body {
  margin:0;
  padding: 5%;
  background-color:#000;
  font-family: Tahoma;
}
nav {
  position:fixed;
  bottom:10px;
  left:10px;
  font-size:16px;
}
nav button {
  padding:10px;
  font-size:16px;
}
.sphere {
    width:200px;
    height:200px;
    border-radius:100%;
    background: -webkit-gradient( radial, 25% 25%, 0, 25% 25%, 30, from(#fff), color-stop(0.2, #0f0), to(#050) );
    background-image: radial-gradient(ellipse farthest-corner at 15px 15px , #fff 0%, rgba(255, 0, 0, 0.5) 40%, #500 90%);
}

